{% extends 'base.html' %}
{% block title %} | {{ user.username }}'s Dashboard {% endblock %}
{% block content %}

<section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{ user.username }}</h2>
          <p>Here are the property listings that you have inquired about</p>
          {% if contacts %}
            <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Property</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %}
                <tr>
                  <td>{{ contact.id }}</td>
                  <td>{{ contact.listing}}</td>
                  <td>
                    <a class="btn btn-light" href="{% url 'listing' contact.listing_id %}">View Listing</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <P>No inquires for you today!</P>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}